<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="C:\Users\ob1\OneDrive\Documents\AppSettingsSecrets.config">
    <add key="CacheConnection" value="enter production value in azure portal | app service | settings | app settings" />
    <!--<add key="CacheEntryExpiryDays" value="enter production value in azure portal | app service | settings | app settings" />-->  <!-- defaults to redis no expiry and lru -->
    <add key="ida:ClientId" value="enter production value in azure portal | app service | settings | app settings" />
    <add key="ida:AppKey" value="enter production value in azure portal | app service | settings | app settings" />
    <add key="ida:TenantId" value="enter production value in azure portal | app service | settings | app settings" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>